/* custom CSS*/
.body{
        background-color: #c0e8e7;
    }
.form {
    padding: 0 2% 0 2%;
    align:"center";
    margin-top: 15%; }
.label {
    align:"center";
    display:block;
    letter-spacing:2px;
    font-weight: 300; 
    font-size: 1.6em; 
    font-family: 'Raleway', sans-serif;
}
.input, textarea {
    align:"center";
    width:439px;
    height:35px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:2px;
    font-size:0.9em;
    color:#3a3a3a;
    border-radius:8px;
}
.textarea {
    height:213px;
    align:"center";
}
